@model DataLayer.Models.ShoppingCart
@using UI.Extensions
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>


<br />
<h2 class="text-info">Announce Details</h2>
<br />

<form method="post">
    <div class="border backgroundWhite row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12 p-4 d-md-none">
            <img src="@Model.Announce.Image" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Announce.Product.ProductID" class="text-info font-weight-bold">Product</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Announce.Product.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Announce.Title" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <div class="border p-2">
                        @Html.Raw(Model.Announce.Title)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Announce.Description" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <div class="border p-2">
                        @Html.Raw(Model.Announce.Description)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Announce.Price" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Announce.Price" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Announce.Amount" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Announce.Amount" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Count" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Count" class="col-form-label"></label>
                </div>
                <div class="col-md-4">
                    <a asp-action="Index" class="btn btn-success">Back To List</a>
                </div>
                <div class="col-md-4">
                    <button type="submit" value="Add to Cart" class="btn btn-primary">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-3 offset-1 d-none d-md-block">
            <img src="@Model.Announce.Image" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>

    </div>
    <input asp-for="AnnounceID" hidden />  
</form>



@section Scripts
{

}


