@model DataLayer.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Delete Product</h2>
<br />
<form method="post">
    <div class="backgroundWhiteBorder row">
        <div class="col-8">
            <input type="hidden" asp-for="Product.ProductID" />
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CategoryID" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Category.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.SubCategoryID" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.SubCategory.Name" class="form-control" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_DeleteAndBackToListButton" model="Model.Product.ProductID" />
            </div>
        </div>
    </div>
</form>
