@model DataLayer.Models.ViewModels.ProductViewModel
@using UI.Extensions
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit MenuItem</h2>
<br />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundWhite row">
        <input type="hidden" asp-for="Product.ProductID" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Name" class="form-control" />
                </div>
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.CategoryID" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Product.CategoryID" id="CategoryID" asp-items="Model.Category.ToSelectItem(Model.Product.CategoryID)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.SubCategoryID" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Product.SubCategoryID" name="SubCategoryID" id="SubCategoryID" asp-items="@(new SelectList(string.Empty,"SubCategoryID","Name"))" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_EditAndBackToListButton" model="Model.Product.ProductID" />
            </div>
        </div>

    </div>
</form>



@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
            $('#CategoryID').change(function () {
                getSubCategory();
            });
        });


        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsource = '#CategoryID';
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $('#SubCategoryID').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });

                $('#SubCategoryID').html(items);
            })
        }
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}